*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-text: deepskyblue;
  --primary-background: antiquewhite;
}
a{
  text-decoration: none;
  color: var(--primary-text)
}
h4{
  color: var(--primary-text);
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row.center{
  align-items: center;
}
/* smaller screen */
.col-1{
  flex-basis: 100%;
}
.col-2{
  flex-basis: 100%;
}
/* bigger screen */
@media screen and (min-width:800px) {
  .col-1{
    flex: 1;
  }
  .col-2{
    flex: 2;
  }
}
.block{
  background-color: var(--primary-background);
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}