*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-text: white;
  --secondary-text: firebrick;
}
a{
  text-decoration: none;
  color: var(--primary-text)
}
img.small{
  height: 8rem;
  width: 10rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button{
  padding: 0.4rem;
  border: 0.1rem solid lightsteelblue;
  background-color: mistyrose;
  border-radius: 0.75rem;
  width: 110%;
  
  color: red;
  font-weight: 700;
  margin-top: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button.add{
  background-color: lightsteelblue;
  width: 2rem;
  color:black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button.remove{
  background-color: bisque;
  width: 2rem;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
h3{
  color: var(--primary-text);
  font-weight: 700;
}
h4{
  color: var(--primary-text);
}
h5{
  color: var(--primary-text);
  max-width: 10rem;
}
p{
  color:white;
}
.p-1{
  padding: 1rem;
}
.cardFooter{
  position:absolute;
  bottom: 0.5rem;
  margin-left: 1.75rem;
  cursor:pointer;
}
.badge{
  border-radius: 0.75rem;
  color:red;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  font-weight: 600;
  margin-top: -1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card{
  /* background-color: ivory; */
  padding: 1rem;
  margin:0.5rem;
  border-radius: 0.75rem;
  height: 20rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row.center{
  align-items: center;
}
/* smaller screen */
.col-1{
  flex-basis: 100%;
}
.col-2{
  flex-basis: 100%;
}
/* bigger screen */
@media screen and (min-width:800px) {
  .col-1{
    flex: 1;
  }
  .col-2{
    flex: 2;
  }
}
.block{
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}
.spectrum-background {
  background:
      linear-gradient(cornflowerblue, transparent),
      linear-gradient(to top left, dodgerblue, transparent),
      linear-gradient(to top right,darkblue , transparent);
  background-blend-mode: screen;
}

.spectrum-background-card {
  background:
      linear-gradient(lightpink, transparent),
      linear-gradient(to top left, crimson, transparent),
      linear-gradient(to top right,firebrick , transparent);
  background-blend-mode: screen;
}
