*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-text: deepskyblue;
  --primary-background: antiquewhite;
  --secondary-text: firebrick;
}
a{
  text-decoration: none;
  color: var(--primary-text)
}
img.small{
  height: 8rem;
  width: 10rem;
  border-radius: 0.75rem;
}
button{
  padding: 0.4rem;
  border: 0.1rem solid lightsteelblue;
  background-color: mistyrose;
  border-radius: 0.75rem;
  width: 110%;
  cursor:pointer;
  color: red;
  font-weight: 700;
  margin-top: 1rem;

}
button.add{
  background-color: aqua;
  width: 1.5rem;
}
button.remove{
  background-color: brown;
  width: 1.5rem;
}
.p-1{
  padding: 1rem;
}
.cardFooter{
  position:absolute;
  bottom: 0.5rem;
  margin-left: 1.75rem;
}
.badge{
  background-color: red;
  border-radius: 0.75rem;
  color:red;
  width: 1.5rem;
  display: flex;
  justify-content: center; /* Centering Horizantly */
  align-items: center; /* Centering Vertically */
  background-color: ivory;
  font-weight: 600;
  
}
h4{
  color: var(--primary-text);
}
h5{
  color: var(--secondary-text);
  max-width: 10rem;
}
.card{
  background-color: ivory;
  padding: 1rem;
  margin:0.5rem;
  border-radius: 0.75rem;
  height: 20rem;
  position: relative;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row.center{
  align-items: center;
}
/* smaller screen */
.col-1{
  flex-basis: 100%;
}
.col-2{
  flex-basis: 100%;
}
/* bigger screen */
@media screen and (min-width:800px) {
  .col-1{
    flex: 1;
  }
  .col-2{
    flex: 2;
  }
}
.block{
  background-color: var(--primary-background);
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}

